@keyframes locationSlideIn {

}

#location__bar--Container{
    height: 100%;
    width: 50px;
    /* grid-column:2 ;
    grid-row: 1/ span end; */
    border-top: solid transparent 1px;
    border-bottom: solid transparent 1px;
    font-family: Apex;
    text-decoration: none;
    /* text-orientation: upright; */
    /* display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 100%; */
    height: 100%;

}


#location__bar--h1{
    position: fixed;
    transform: rotate(-90deg);
    font-size: 250px;
	top: 300px;
    left: -100px;
    margin: auto;
	align-self: start;
    opacity: .25;
}

#location__bar--h1-cards{
    position: fixed;
    transform: rotate(-90deg);
    font-size: 250px;
	top: 300px;
    left: -100px;
    margin: auto;
	align-self: start;
    opacity: .25;
}
