

#browsecard__div{
    display: grid;
    grid-template-columns:
  repeat(auto-fit, minmax(250px, 1fr));
  z-index: 4;
  color: gold;
}

.card__container-div{

    background-color: transparent;
}

.card__h2{
    font-size: 40px;;
}

.card__img{
    height: 300px;
    width:auto;
}

.card__h3{
    font-size: 30px;
}

.card__description{
    font-size: 20px;
}
