.location__bar--Container{
    height: 100%;
    width: 50px;
    /* grid-column:2 ;
    grid-row: 1/ span end; */
    border-top: solid transparent 1px;
    border-bottom: solid transparent 1px;
    font-family: Apex;
    text-decoration: none;
    /* text-orientation: upright; */
    /* display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 100%; */
    height: 100%;

}


.location__bar--h1{
    position: fixed;
    transform: rotate(-90deg);
    font-size: 250px;
	top: 300px;
    left: -20rem;
    margin: auto;
	align-self: start;
    opacity: .25;
    white-space: nowrap;
}


.background--div{
    background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80');
    grid-row:1 /span end;
    grid-column: 1/span end;
    display: grid;
    grid-template-columns: repeat(20, 5%) ;
    grid-template-rows: 10rem repeat(10, 10%);
}

#browsecard__div{
    display: grid;
    grid-column: 3 / 17;
    grid-row: 1 /span end;
    align-self: end;
    /* grid-auto-rows: 500px; */
    grid-gap: 175px;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;
    color: white;
    font-family:'Montserrat', sans-serif;
}

.card_container-border-div{
    grid-row: 1 /span 10;
    grid-column: 1/span 9;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(15, 40px);
    border-top: white solid 1px;
    border-right: white solid 1px;
    border-bottom: transparent solid 1px;
    border-left: transparent solid 1px;
    height: 600px;
    /* font-family: Monserrat; */
    transition-duration: 1s;
}

.card__container-div{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(15, 40px);
    background-color: transparent;

}

.card__container-div:hover .card_container-border-div{
    border-bottom: white solid 1px;
    border-left: white solid 1px;
}

.card__container-h2-div{
    grid-column: 9 /span 2;
    grid-row: 2 /span 13;
    display: grid;
    color: white;
    grid-template-columns: repeat(2, 1fr);
    text-decoration: none;
    overflow-y:auto;
}

.card__h2{
    grid-column: 2;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 40px;
    font-family:'Montserrat', sans-serif;
    /* justify-self: start; */
    white-space: nowrap;
    transition-duration: 1.5s;
}



    .card__container-h2-div::-webkit-scrollbar {
        width: 10px;
    }

    .card__container-h2-div::-webkit-scrollbar-track {
        background: transparent;
    }

    .card__container-h2-div::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .card__container-h2-div::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }

.card__container-div:hover .card__h2{
    /* grid-column: 9;
    grid-row: 2; */
    padding-right: 65px;
    color: gold;
}

.card__image-navlink{
    grid-row: 2 /span 4;
    grid-column: 2/ span 7;
    justify-self: start;
}

.card__img{
    height: auto;
    width: 400px;

}

.card__h3{
    font-size: 30px;
    grid-row:9 ;
    grid-column:2 /span 7 ;

}

.card__h3--navlink{
    color: slategrey;
    text-decoration: none;
}

/* --------------------------------------------------------- */

.card__description{
    grid-row:10 /span 3;
    grid-column:2 /span 7;
    /* height: 100px; */
    font-size: 20px;
    overflow-y:auto;
}

        /* CUSTOM SCROLL BAR */
        .card__description::-webkit-scrollbar {
            width: 10px;
        }

        .card__description::-webkit-scrollbar-track {
            background: transparent;
        }

        .card__description::-webkit-scrollbar-thumb {
            background: transparent;
        }

        .card__description::-webkit-scrollbar-thumb:hover {
            background: transparent;
        }

        .card_container-border-div:hover .card__description::-webkit-scrollbar {
            width: 10px;
        }
        .card_container-border-div:hover .card__description::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        .card_container-border-div:hover  .card__description::-webkit-scrollbar-thumb {
            background: #888;
        }
        .card_container-border-div:hover .card__description::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

/* ----------------------------------------------------------- */

.card__comments--header{
    grid-row: 13;
    grid-column: 2 /span 8;
    align-self: end;
}

.card__comments--ul{
    grid-row: 14 /span 2;
    grid-column: 2 /span 8;
    overflow-y: auto;
}

/* ------------------------ CUSTOM SCROLL BAR -------------------------------------- */

.card__comments--ul::-webkit-scrollbar {
    width: 10px;
}

.card__comments--ul::-webkit-scrollbar-track {
    background: transparent;
}

.card__comments--ul::-webkit-scrollbar-thumb {
    background: transparent;
}

.card__comments--ul::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.card_container-border-div:hover .card__comments--ul::-webkit-scrollbar {
    width: 10px;
}
.card_container-border-div:hover .card__comments--ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.card_container-border-div:hover  .card__comments--ul::-webkit-scrollbar-thumb {
    background: #888;
}
.card_container-border-div:hover .card__comments--ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}




/* ----------------------------------------------------------- */

.card__comment-li{
    list-style: none;
    padding-top: 10px;
}
