

#browsecard__div{
    display: grid;
    grid-column: 3 / 17;
    grid-row: 1 /span end;
    align-self: end;
    /* grid-auto-rows: 500px; */
    grid-gap: 175px;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;
    color: white;
}

.card_container-border-div{
    grid-row: 1 /span 10;
    grid-column: 1/span 9;
    border-top: white solid 1px;
    border-right: white solid 1px;
    /* font-family: Monserrat; */
}

.card__container-div{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 3rem);
    background-color: transparent;
}

.card__container-h2-div{
    grid-column: 9 /span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card__h2{
    grid-column: 2;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 40px;
    font-family:'Montserrat', sans-serif;
    /* justify-self: start; */
    white-space: nowrap;
    transition-duration: 2s;
}

.card__container-div:hover .card__h2{
    /* grid-column: 9;
    grid-row: 2; */
    padding-right: 65px;
    color: gold;
}

.card__img{
    height: auto;
    width: 400px;
    grid-row: 2 /span 4;
    grid-column: 2/ span 7;
}

.card__h3{
    font-size: 30px;
}

/* --------------------------------------------------------- */

.card__description{
    height: 100px;
    font-size: 20px;
    overflow-y:auto;
}

        /* CUSTOM SCROLL BAR */
        .card__description::-webkit-scrollbar {
            width: 10px;
        }

        .card__description::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .card__description::-webkit-scrollbar-thumb {
            background: #888;
        }

        .card__description::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


/* ----------------------------------------------------------- */


.card__comments--ul{

}

.card__comment-li{
    list-style: none;
}
