

.background__container--div{
    background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80');
    grid-column: 1 /span end;
    grid-row: 1 /span end;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 40px);
    overflow: hidden;
    z-index: 1;
}

.location__bar--Container-card{
    height: 100%;
    width: 50px;
    /* grid-column:2 ;
    grid-row: 1/ span end; */
    border-top: solid transparent 1px;
    border-bottom: solid transparent 1px;
    font-family: Apex;
    text-decoration: none;
    /* text-orientation: upright; */
    /* display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 100%; */
    height: 100%;
}

.location__bar--h1-card{
    position: fixed;
    transform: rotate(-90deg);
    font-size: 250px;
	top: 300px;
    left: -15rem;
    margin: auto;
	align-self: start;
    opacity: .25;
    white-space: nowrap;
}

.decoration__emoji{
    grid-column: 17 ;
    grid-row: 13;
    width: 400px;
    height: 2000px;
    opacity: .2;
    text-align:end;
}

#decoration__emoji-p{
    font-size: 100px;
}


.carddetail__border--div{
    border-top: white solid 2px;
    border-right: white solid 2px;
    border-bottom: transparent solid 1px;
    border-left: transparent solid 1px;
    grid-row: 2/ span end;
    grid-column: 2/ 18 ;
    /* z-index:2; */
    transition-duration: 1s;

}



.carddetail__container--div:hover .carddetail__border--div{
    border-bottom: white solid 1px;
    border-left: white solid 1px;
}

.carddetail__container--div:hover .carddetail__h2{
    opacity: 1;
    color: #ffd349;
}

.carddetail__h2--animation-div{
    font-size: 80px;
    grid-column:13;
    margin-bottom: 100px;
}

.carddetail__h2--animation{
    font-size: 80;
    color:black;
    font-family: apex;
    opacity: .25;
    z-index: 1;
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
}

.carddetail__container--div{
    grid-column: 6 / 17;
    grid-row: 2 /span 19;
    display: grid;
    grid-template-columns: repeat(20, 5%) ;
    grid-template-rows: repeat(20, 5%) ;
    z-index: 10;

}

.carddetail__h2{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    grid-row: 3 /span 4;
    grid-column: 12/17;
    z-index: 6;
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
    height: 500px;
    opacity: .2;
    transition-duration: 1s;
}



 .carddetail__p-description--div::-webkit-scrollbar {
    width: 10px;
}

.carddetail__p-description--div.card__description::-webkit-scrollbar-track {
    background: transparent;
}

.carddetail__p-description--div.card__description::-webkit-scrollbar-thumb {
    background: transparent;
}

.carddetail__p-description--div::-webkit-scrollbar-thumb:hover {
    background: transparent;
}


.carddetail__h3{
    font-size: 20px;
    grid-row: ;
    grid-column: ;
}

.carddetail__h3--a{
    justify-self: center;
    grid-row: 6/ span 3;
    grid-column: 1;
    text-decoration: none;
    color: white;
    font-size: 45px;
}

.carddetail__img--div{
    grid-row: 3/ 12 ;
    grid-column: 3 /12;
    z-index: 5;
}

.carddetail__img{
    height: 300px;
    width: auto;
    z-index: 5;
}

.carddetail__h2-address--div{
    grid-row:;
 grid-column: ;
}

.carddetail__store-h3--div{
    font-family:'Montserrat', sans-serif;
    grid-row: 12 /15;
    grid-column: 4 / 8;
}


.carddetail__h3-username--div{
    font-family:'Montserrat', sans-serif;
    grid-row: 19;
    grid-column:14/ 17 ;
    font-size: 15px;
    color: white;
}

#comments{
    grid-row: 14;
    grid-column: 7 /span 3;
    font-size: 25px;
    color: white;
    font-family:'Montserrat', sans-serif;
}

.carddetail__h3-username{

}

.carddetail__store-p{
    grid-row: 1;
    grid-column: 1/ span 4;
    font-size: 30px;
    color: white;

}

.carddetail__p-description--div{
    height: 200px;
    grid-row: 10/ 14;
    grid-column: 11 /17;
    overflow-y: auto;
    font-size: 15px;
    color:white;
    overflow-y: auto;
    align-self: start;
    background-color: transparent;
    opacity: .2;
    z-index: 20;
    transition-duration: 1s;
}

.carddetail__container--div:hover .carddetail__p-description--div{
    opacity: 1;
}

.carddetail__container--div:hover .carddetail__p-description--div::-webkit-scrollbar {
    width: 10px;
}

.carddetail__container--div:hover .carddetail__p-description--div.card__description::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.carddetail__container--div:hover .carddetail__p-description--div.card__description::-webkit-scrollbar-thumb {
    background: #888;
}

.carddetail__container--div:hover .carddetail__p-description--div::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.carddetail__p{
    font-family:'Montserrat', sans-serif;
    border-top: white 1px solid;
    border-right: white 1px solid;
}

.carddetail__ul--div{
    color: white;
    grid-row: 15/ 20;
    grid-column: 3 / 10;
    overflow-y: auto;
    background-color: transparent;
    border-top:white solid 1px ;
    border-right:white solid 1px;
}

.addcomment-button{
    grid-row: 18/span 2;
    grid-column: 10/12;
    justify-self: center;
    align-self: center;
}

.edit-form{
    display: flex; justify-content: space-between;
    /* height: 100px; */
}

.edit-buttons{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.edit-input{
    width: 75%;
}

.carddetail__ul{

}

.carddetail__li{

}

.carddetail__editcardform--div{
    background-color: lightgoldenrodyellow;
    grid-row:;
    grid-column: ;
}

.card__detail-li{
    padding-top: 10px;
    font-family:'Montserrat', sans-serif;
    border-bottom: solid 1px white;
}

.buttonaddcomment-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-top: white solid 1px;
    border-right: white solid 1px;

}

.addcomment-link{
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-family:'Montserrat', sans-serif
}

/* --------------------DECORATION------------- */

.decoration__p-description{
    font-size: 30px;
    opacity: .4;
    color: black;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;

}

.decoration__p-div{
    grid-row: 8;
    grid-column: 5;
}
