

.browsestore__div{
    display: grid;
    grid-column: 3 / 17;
    grid-row: 1 /span end;
    grid-template-columns: 1 ;
    grid-row-gap: 175px;

}


.store__container--div{
    grid-column: 1;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(10, 10%);
}


.store__h2{
    grid-column: 1;
    grid-row: 1;
}

.store__container--border-div{
    display: grid;
    grid-column: 1 /span end;
    grid-row: 1 /span end;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(10, 10%);
    border-top: white solid 1px;
    border-right: white solid 1px;
}

.store__name--h3{

}
.store__address--h3{

}

.store__card--container{
    grid-column: 15 /span 5 ;
    grid-row: 1;
}

.store__card--list-container{

}


.store__card--name{
    color: white;
}

.store__card--img{

    height:auto;
    width: 400px;
}

.store__card-navlink{

}
